{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<link rel="stylesheet" href="{% static 'blog/menu.css' %}">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="cont">

      <div class="nav">


          <ul>
            <li><a href="Filter">Filter</a></li>
            <li><a href="Filter">Menu</a></li>
            <li><a href="Filter">Cart</a></li>
            <li><a href="Filter">Help</a></li>

          </ul>







      </div>

    </div>















  </body>
</html>
